===============
Unity generated
===============
Temp/
Library/
AICB/Assets/Scratch/

=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

AICB/Assets/TMP_IMPORT.meta


===============
Unity generated
===============
Temp/
Library/

=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

AICB/Assets/TMP_IMPORT.meta


AICB/Assets/Scratch/DK_EDITOR/DKCreateHexLattice.cs~

AICB/Assets/Scratch/DK_EDITOR/DKCreatePlane.cs.meta

AICB/Assets/Scratch/DK_EDITOR/DKBuildProjectDirectories.cs~

AICB/Assets/Scratch/DK_EDITOR/DebugConsole.cs~

*.cs

AICB/Assets/Scratch/DK_EDITOR.meta

*.cs~

*.meta
